{% extends "admin/base.html" %}

{% block title %}Admin{% endblock %}

{% block header %}
<div class="span12">
	<h1>Dashboard</h1>
</div>
{% endblock %}

{% block content %}
<section class="row" style="margin-top: 20px;">
	<!-- span3 -->
	<div class="span3">
		<div class="well" style="padding: 8px 0;">
			<ul class="nav nav-list">
				<li class="nav-header">Menu</li>
				<li class="active">
    				<a href="{% url admin.views.index %}">
    					<i class="icon-white icon-home"></i> Home
    				</a>
				</li>
				<li>
					<a href="{% url admin.views.profile %}">
    					<i class="icon-user"></i> Profile
    				</a>
				</li>
				<li class="nav-header">Blog</li>
				<li>
					<a href="{% url admin.views.category %}">
    					<i class="icon-tags"></i> Categories
    				</a>
				</li>
				<li>
					<a href="{% url admin.views.blog_edit_settings %}">
    					<i class="icon-cog"></i> Settings
    				</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="{% url admin.views.logout %}">
    					<i class="icon-off"></i> Log out
    				</a>
				</li>
			</ul>
		</div>
	</div><!-- /span3 -->
	<!-- span9 -->
	<div class="span9">
	</div><!-- /span9 -->
</section>
{% endblock %}