{% extends "itsme/base.html" %}

{% load itsme_extras %}

{% block body_class %}index{% endblock %}

{% block page_title %}{{ blog.site_title|escape|default:"Jhon Adrián Cerón" }}{% endblock %}

{% block page_description %}{{ blog.tagline|escape|default:"Personal portfolio of Jhon Adrián Cerón." }}{% endblock %}

{% block sidebar %}
{% include "itsme/social.html" %}
{% endblock %}

{% block content %}
<header>
	<h1 class="toUppercase">
			My name is {{ user.get_full_name|escape|default:"Jhon Adrián Cerón" }}
	</h1>
	<p>{{ blog.tagline|escape|default:"Personal portfolio of Jhon Adrián Cerón." }}</p>
</header>
{% for post in posts.object_list %}
<article class="{% if forloop.last %}last-article{% endif %}">
	<header>
		<h2>
			<a href="{% url itsme.views.post_view post.slug %}" class="alternative">{{ post.title }}</a>
		</h2>
		<time datetime="{{ post.date|date:"Y-m-d" }}">{{ post.date|date:"N d, Y" }}</time>
	</header>
	{{ post.content|post_get_description|safe }}
	<p class="read-more">
		<a href="{% url itsme.views.post_view post.slug %}">Continue reading &rarr;</a>
	</p>
</article>
{% empty %}
<article class="last-article">
	<header>
		<h2>There aren't found articles.</h2>
	</header>
	<p>
		Unfortunately, there aren't articles published. However, will soon have interesting posts for you.
	</p>
</article>
{% endfor %}
{% if posts.has_other_pages %}
<ul class="pager post-nav">
	{% if posts.has_previous %}
	<li class="previous">
		<a href="{% url itsme.views.index posts.previous_page_number %}">&larr; Older posts</a>
	</li>
	{% endif %}
	{% if posts.has_next %}
	<li class="next">
		<a href="{% url itsme.views.index posts.next_page_number %}">Newer posts &rarr;</a>
	</li>
	{% endif %}
</ul>
{% endif %}
{% endblock %}