{% extends "itsme/base.html" %}

{% load itsme_extras %}

{% block body_class %}article{% endblock %}

{% block page_title %}{{ post.title|escape }}{% endblock %}

{% block page_description %}{{ post_content.get_all_paragraphs|first|remove_bbcode|escape }}{% endblock %}

{% block blockbots %}
	<meta property="og:title" content="{{ post.title }}" />
	<meta property="og:type" content="article" />
	<meta property="og:image" content="{% if post_content.get_all_pictures %}{{ post_content.get_all_pictures|first|last }}{% else %}{{ STATIC_URL }}img/logo.png{% endif %}" />
	<meta property="og:url" content="{{ BASE_URL }}{% url itsme.views.post_view post.slug %}" />
	{% if post_content.get_all_paragraphs %}<meta property="og:description" content="{{ post_content.get_all_paragraphs|first|remove_bbcode|escape }}" />{% endif %}
	<meta property="og:site_name" content="{{ blog.site_title }}" />
{% endblock %}

{% block content %}
<article>
	<header>
		<h1>{{ post.title }}</h1>
		<time datetime="{{ post.date|date:"Y-m-d" }}">{{ post.date|date:"N d, Y" }}</time>
	</header>
	{{ content|safe }}
	<footer>
		<div class="row">
			<div class="span5 categories">
				<strong>Categories:</strong>
				{{ post.categories.all|join:", "|default:"<em>Uncategorized</em>" }}
			</div>
			{% if previous_post or next_post %}
			<div class="span2 post-nav">
				<ul class="unstyled">
				{% if previous_post %}
					<li class="prev-post">
						<a href="{% url itsme.views.post_view previous_post.slug %}" title="{{ previous_post.title|escape }}">
							&larr; Older
						</a>
					</li>
				{% endif %}
				{% if next_post %}
					<li class="next-post {% if previous_post %}exists-previous{% endif %}">
						<a href="{% url itsme.views.post_view next_post.slug %}" title="{{ next_post.title|escape }}">
							Newer &rarr;
						</a>
					</li>
				{% endif %}
				</ul>
			</div>
			{% endif %}
		</div>
	</footer>
</article>
{% endblock %}

{% block extrastyle %}
<link href="{{ STATIC_URL }}css/google-code-prettify.css" rel="stylesheet">
{% endblock %}
{% block extrajs %}
<script src="{{ STATIC_URL }}js/google-code-prettify/prettify.js"></script>
<script>
$(document).ready(function() {
	prettyPrint();
	$("section article p").each(function() {
		var el = $(this).html();
		el = nl2br(el);
		$(this).html(el);
	});
});
</script>
{% endblock %}