{% extends "itsme/base.html" %}

{% load itsme_extras %}

{% block body_class %}article{% endblock %}

{% block page_title %}{{ post.title|escape }}{% endblock %}

{% block blockbots %}
	<meta property="og:title" content="{{ post.title }}" />
	<meta property="og:type" content="article" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="{{ BASE_URL }}{% url itsme.views.post_view post.slug %}" />
	<meta property="og:description" content="{{ content.get_all_paragraphs|first|safe|remove_bbcode }}" />
	<meta property="og:site_name" content="{{ blog.site_title }}" />
{% endblock %}

{% block content %}
<article>
	<header>
		<h1>{{ post.title }}</h1>
		<time datetime="{{ post.date|date:"Y-m-d" }}">{{ post.date|date:"N d, Y" }}</time>
	</header>
	{{ content.bbcode_to_html|safe }}
</article>
{% endblock %}

{% block extrajs %}
<script>
$(document).ready(function() {
	$("section article p").each(function() {
		var el = $(this).html();
		el = nl2br(el);
		$(this).html(el);
	});
});
</script>
{% endblock %}