{% if not hide_title %}
<span class="toUppercase"><strong>Follow me</strong></span>
{% endif %}
<ul class="unstyled" id="social">
	<li>
		<a href="https://github.com/delacuesta13">
			<img src="{{ STATIC_URL }}img/Github.png" alt="Gihtub">
		</a>
	</li>
	<li>
		<a href="http://co.linkedin.com/in/adrianceron/en">
			<img src="{{ STATIC_URL }}img/LinkedIn.png" alt="Linkedin">
		</a>
	</li>
	<li>
		<a href="{{ BASE_URL }}/feed/">
			<img src="{{ STATIC_URL }}img/RSS.png" alt="RSS Feed">
		</a>
	</li>
</ul>