/* -------------------------------------------------- 
    Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Media Queries
*/

/* -----------------------------------------
   :: Shared Styles
   ----------------------------------------- */
   
   body{
   	background: transparent; 
   	font-family: 'Open Sans', sans-serif;
   }
   
   h1, h2, h3,
   h4, h5, h6{
   	font-family: inherit;
   }
   
   p{
   	font-family: inherit;
   }
   
   button,input,
   select,textarea{
   	font-family: inherit;
   }
   
   a{
   	color: #0e7975;
   	text-decoration: none;
   }
   
   a:hover{
   	color: #0d6967;
   	text-decoration: underline;
   }
   
   a.alternative{
   	color: #129793;
   	text-decoration: none; 
   }
   
   a.alternative:hover{
   	background: #129793;
   	color: #FFFFFF;
   	text-decoration: none; 
   }
   
   
   /* Navigation Top */
   
   div#navTop{
   	background: #222222;
   	min-height: 7px;
   }
   
   div#navTop .container{
   	padding: 0 20px;
   }
   
   div#navTop .row{
   	display: none;
	padding-top: 9px;
   }
   
   div#navTop select{
   	float: right;
   	height: auto;
   	width: 60%;
   	padding-bottom: 0;
   	padding-top: 0;
   }
   
   /* Header */
   
   header#header{
   	margin-top: 25px;
   }
   
   /* Header Nav */
   
   header#header nav{
   	padding-top: 34px;
   }
   
   header#header nav ul{
   	display: block;
   	float: right;
   	list-style: none;
	margin: 0 auto;
	padding: 0;
	text-transform: uppercase;
   }
   
   header#header nav ul li{
	display: inline;
	float: left;
	margin-left: 15px;
	font-weight: bold;
   }
   
   header#header nav ul li.active a{
   	background: #FF7260;
   	color: #FFFFFF;
   	margin-right: -4px;
   	padding: 1px 4px;
   	text-decoration: none;
   }
   
   header#header nav ul li.active a:hover{
   	background: #FFFFFF;
   	color: #FF7260;
   	text-decoration: none;
   }
   
   header#header nav ul li a{
   	color: #222222;
   	text-decoration: none;
   }
   
   header#header nav ul li a:hover{
   	background: #222222;
   	color: #FFFFFF;
   	margin-left: -4px;
   	margin-right: -4px;
   	padding: 1px 4px;
   	text-decoration: none;
   }
   
   /* Main */
   
   #main{
   	margin-top: 34px;
   }
   
   /* Sidebar */
   
   #sidebar{
   	padding-top: 10px;
   }
   
   #sidebar ul{
   	margin-bottom: 0;
   }
   
   /* Social */
   
   ul#social{
   	list-style: none;
   }
   
   ul#social li{
   	display: inline;
   	margin-right: 4px;
   }
   
   ul#social li a, ul#social li a:hover{
   	text-decoration: none;
   }
   
   ul#social li a img{
   	opacity : 1.0;
    filter: alpha(opacity=100);
   }
   
   ul#social li a:hover img{
   	opacity : 0.6;
    filter: alpha(opacity=60);
   }
   
   /* Content */
   
   section article{
   	margin-top: 2.5em;
   }
   
   section article header{
   	margin-bottom: 1.4em;
   }
   
   section article{
   	border-bottom: 1px solid #E2E2E2;
   } section article.last-article{
   	border-bottom: 0px;
   }
   
   /* Navigation */
   
   ul.post-nav{
   	margin-top: 5em;
   }
   
   ul.post-nav a{
   	border: 0px;
   	border-radius: 0px;
   	padding: 0px;
   }
   
   ul.post-nav a:hover{
   	background: #FFFFFF;
   	text-decoration: underline;
   }
   
   /* Footer */
   footer#footer{
   	margin-top: 2.5em;
   }
   
   footer#footer .content-footer{
   	border-top: 1px solid #E2E2E2;
   	color: #777777;
   	font-size: 12px;
   	padding: 10px 0;
   }
   
   /* Helpers */
   
   .toUppercase{
   	text-transform: uppercase;
   }
   
/* -----------------------------------------
   :: Media Queries
   ----------------------------------------- */
   
   @media only screen and (min-width: 980px) {
   }
   
   /* Smaller than standard 960 (devices and browsers) */
   @media only screen and (max-width: 979px) {
   }
   
   /* Tablet Portrait size to standard 960 (devices and browsers) */
   @media only screen and (min-width: 768px) and (max-width: 979px) {
   	header#header .logo img{ width: 77px; }
   }
   
   /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
   @media only screen and (min-width: 480px) and (max-width: 767px) {
   	div#navTop{ 
   		margin-left: -20px;
   		margin-right: -20px;
   	}
   	div#navTop .row{ display: block; }
   	header#header .logo{ text-align: center; }
   	header#header .logo img{ width: 66px; }
   	header#header nav{ display: none !important; }
   	#sidebar{
   		background: #F7F7F7;
   		margin-left: -20px;
   		margin-right: -20px;
   		padding-left: 20px;
   		padding-right: 20px;
   	}
   	#main{ margin-top: 25px; }
   	footer#footer{ margin-top: 18px; }
   	footer#footer .content-footer{
   		border-top: 0;
   		padding-top: 0;
   	}
   }
   
   /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
   @media only screen and (max-width: 479px) {
   	div#navTop{ 
   		margin-left: -20px;
   		margin-right: -20px;
   	}
   	div#navTop .row{ display: block; }
   	header#header .logo{ text-align: center; }
   	header#header .logo img{ width: 66px; }
   	header#header nav{ display: none !important; }
   	#sidebar{
   		background: #F7F7F7;
   		margin: 0 -20px;
   		padding: 5px 20px;
   	}
   	#main{ margin-top: 25px; }
   	footer#footer{ margin-top: 18px; }
   	footer#footer .content-footer{
   		border-top: 0;
   		padding-top: 0;
   	}
   }
   