/* -------------------------------------------------- 
    Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Index
:: Media Queries
*/

/* -----------------------------------------
   :: Shared Styles
   ----------------------------------------- */
   
   body{
   	background: transparent; 
   	font-family: 'Open Sans', sans-serif;
   }
   
   h1, h2, h3,
   h4, h5, h6{
   	font-family: inherit;
   }
   
   p{
   	font-family: inherit;
   }
   
   button,input,
   select,textarea{
   	font-family: inherit;
   }
   
   /* Navigation Top */
   
   div#navTop{
   	background: #222222;
   	min-height: 7px;
   }
   
   div#navTop .container{
   	padding: 0 20px;
   }
   
   div#navTop .row{
   	display: none;
	padding-top: 9px;
   }
   
   div#navTop select{
   	float: right;
   	height: auto;
   	width: 60%;
   	padding-bottom: 0;
   	padding-top: 0;
   }
   
   /* Header */
   
   header#header{
   	padding: 25px 0 0;
   }
   		
   /* Header Nav */
   
   header#header nav{
   	padding-top: 34px;
   }
   
   header#header nav ul{
   	display: block;
   	float: right;
   	list-style: none;
	margin: 0 auto;
	padding: 0;
	text-transform: uppercase;
   }
   
   header#header nav ul li{
	display: inline;
	float: left;
	margin-left: 15px;
	font-weight: bold;
   } header nav ul li.first{ margin-left: 0px; }
   
   header#header nav ul li.active a{
   	background: #FF7260;
   	color: #FFFFFF;
   	margin-right: -4px;
   	padding: 1px 4px;
   	text-decoration: none;
   }
   
   header#header nav ul li.active a:hover{
   	background: #FFFFFF;
   	color: #FF7260;
   	text-decoration: none;
   }
   
   header#header nav ul li a{
   	color: #222222;
   	text-decoration: none;
   }
   
   header#header nav ul li a:hover{
   	background: #222222;
   	color: #FFFFFF;
   	margin-left: -4px;
   	margin-right: -4px;
   	padding: 1px 4px;
   	text-decoration: none;
   }
   
   /* Main */
   
   #main{
   	margin-top: 25px;
   }
   
   /* Follow me */
   
   ul#follow_me{
   	list-style: none;
   }
   
   ul#follow_me li{
   	display: inline;
   	margin-right: 6px;
   }
   
   ul#follow_me li a, ul#follow_me li a:hover{
   	text-decoration: none;
   }
   
   ul#follow_me li a img{
   	opacity : 1.0;
    filter: alpha(opacity=100);
   }
   
   ul#follow_me li a:hover img{
   	opacity : 0.6;
    filter: alpha(opacity=60);
   }
   
   /* Helpers */
   
   .toUppercase{
   	text-transform: uppercase;
   }
   
/* -----------------------------------------
   :: Page Index
   ----------------------------------------- */
   
/* -----------------------------------------
   :: Media Queries
   ----------------------------------------- */
   
   @media only screen and (min-width: 980px) {
   }
   
   /* Smaller than standard 960 (devices and browsers) */
   @media only screen and (max-width: 979px) {
   }
   
   /* Tablet Portrait size to standard 960 (devices and browsers) */
   @media only screen and (min-width: 768px) and (max-width: 979px) {
   	header#header .logo img{ width: 77px; }
   }
   
   /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
   @media only screen and (min-width: 480px) and (max-width: 767px) {
   	div#navTop{ 
   		margin-left: -20px;
   		margin-right: -20px;
   	}
   	div#navTop .row{ display: block; }
   	header#header{ padding: 34px 0 0; }
   	header#header .logo{ text-align: center; }
   	header#header .logo img{ width: 66px; }
   	header#header nav{ display: none !important; }
   	#sidebar{
   		border-top: 1px solid #ccc;
   		margin-top: 30px;
   		padding-top: 5px;
   	}
   }
   
   /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
   @media only screen and (max-width: 479px) {
   	div#navTop{ 
   		margin-left: -20px;
   		margin-right: -20px;
   	}
   	div#navTop .row{ display: block; }
   	header#header{ padding: 34px 0 0; }
   	header#header .logo{ text-align: center; }
   	header#header .logo img{ width: 66px; }
   	header#header nav{ display: none !important; }
   	#sidebar{
   		border-top: 1px solid #ccc;
   		margin-top: 25px;
   		padding-top: 5px;
   	}
   }
   