/* -------------------------------------------------- 
    Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Index Page 
:: Article Page 
:: Work Page 
:: About Page 
:: Contact Page 
:: Error Page 
:: Media Queries
:: Selections
*/

/* -----------------------------------------
   :: Shared Styles
   ----------------------------------------- */
   
   body{
   	background: transparent; 
   	font-family: 'Open Sans', sans-serif;
   }
   
   iframe, img{
   	border: 0;
   }
   
   h1, h2, h3,
   h4, h5, h6{
   	font-family: inherit;
   	line-height: 1.2em;
   }
   
   p{
   	font-family: inherit;
   	margin: 0 0 15px;
   }
   
   button, input,
   select, textarea{
   	font-family: inherit;
   }
   
   a{
   	color: #0e7975;
   	text-decoration: none;
   }
   
   a:hover{
   	color: #0d6967;
   	text-decoration: underline;
   }
   
   a.alternative{
   	color: #129793;
   	text-decoration: none; 
   }
   
   a.alternative:hover{
   	background: #129793;
   	color: #FFFFFF;
   	text-decoration: none; 
   }
   
   /* Navigation Top */
   
   div#navTop{
   	background: #222222;
   	min-height: 7px;
   }
   
   div#navTop .container{
   	padding: 0 20px;
   }
   
   div#navTop .row{
   	display: none;
	padding-top: 9px;
   }
   
   div#navTop select{
   	float: right;
   	height: auto;
   	width: 60%;
   	padding-bottom: 0;
   	padding-top: 0;
   }
   
   /* Header */
   
   header#header{
   	margin-top: 25px;
   }
   
   /* Header Nav */
   
   header#header nav{
   	padding-top: 34px;
   }
   
   header#header nav ul{
   	display: block;
   	float: right;
   	list-style: none;
	margin: 0 auto;
	padding: 0;
	text-transform: uppercase;
   }
   
   header#header nav ul li{
	display: inline;
	float: left;
	margin-left: 15px;
	font-weight: bold;
   }
   
   header#header nav ul li.first{
   	margin-left: 0px;
   }
   
   header#header nav ul li.active a{
   	background: #FF7260;
   	color: #FFFFFF;
   	padding: 1px 4px;
   	text-decoration: none;
   }
   
   header#header nav ul li.active a:hover{
   	background: #FFFFFF;
   	color: #FF7260;
   	text-decoration: none;
   }
   
   header#header nav ul li a{
   	color: #222222;
   	padding: 1px 4px;
   	text-decoration: none;
   }
   
   header#header nav ul li a:hover{
   	background: #222222;
   	color: #FFFFFF;
   	text-decoration: none;
   }
   
   /* Main */
   
   #main{
   	margin-top: 34px;
   }
   
   /* Sidebar */
   
   #sidebar{
   	padding: 8px 0;
   }
   
   #sidebar p{
   	font-size: .9375em;
   	margin-bottom: 15px;
   }
   
   /* Social Media */
   
   ul#social{
   	list-style: none;
   	margin-bottom: 0;
   }
   
   ul#social li{
   	display: inline;
   	margin-right: 0px;
   }
   
   ul#social li a{
   	display: inline-block;
   	height: 32px;
   	overflow: hidden;
   	text-decoration: none;
   	text-indent: -9999px;
   	width: 32px;
   } 
   
   ul#social li a:hover{
   	opacity : 0.7;
    filter: alpha(opacity=70);
    text-decoration: none;
   }
   
   ul#social li a.github{
   	background: transparent url(../../img/Github.png) no-repeat 0 0;
   }
   
   ul#social li a.linkedin{
   	background: transparent url(../../img/LinkedIn.png) no-repeat 0 0;
   }
   
   ul#social li a.rss{
   	background: transparent url(../../img/RSS.png) no-repeat 0 0;
   }
   
   /* Footer */
   
   footer#footer{
   	margin-top: 3em;
   }
   
   footer#footer .content-footer{
   	border-top: 0;
   	color: #777777;
   	font-size: 12px;
   	padding: 0 0 1em;
   }
   
   /* Video Container */
   
   .video-wrapper {
	width: 600px;
	margin: 20px 0;
	max-width: 100%;
   }
   
   .video-container {
   	height: 0;
   	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
   }

   .video-container iframe,  
   .video-container object,  
   .video-container embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
   }
   
   /* Helpers */
   
   .toUppercase{
   	text-transform: uppercase;
   }

/* -----------------------------------------
   :: Index Page
   ----------------------------------------- */
   
   body.index section article{
   	margin-top: 2.5em;
   }
   
   body.index section article header{
   	margin-bottom: 1.4em;
   }
   
   body.index section article{
   	border-bottom: 1px solid #E2E2E2;
   } body.index section article.last-article{
   	border-bottom: 0px;
   }
   
   body.index article header h2{
   	margin-bottom: .4375em;
   }
   
   /* Navigation */
   
   body.index ul.post-nav{
   	margin-top: 5em;
   }
   
   body.index ul.post-nav a{
   	border: 0px;
   	border-radius: 0px;
   	padding: 0px;
   }
   
   body.index ul.post-nav a:hover{
   	background: #FFFFFF;
   	text-decoration: underline;
   }
   
/* -----------------------------------------
   :: Article Page
   ----------------------------------------- */
   
   body.article section header h1{
   	margin: 0 0 20px;
   }
   
   body.article section article header{
   	margin-bottom: 1.4em;
   }
   
   body.article section article h2{
   	margin: 30px 0 20px;
   }
   
   body.article section article h3,
   body.article section article h4{
   	margin: 15px 0;
   }
   
   body.article section article pre{
   	margin: 0 0 25px;
   }
   
   body.article section article blockquote{
   	margin: 20px 0;
   }
   
   body.article section article figure{
   	margin: 20px 0;
   }
   
   body.article section article img{
   	border: 1px solid #DDD;
   	height: auto !important;
   	max-width: 100%;
   	padding: 5px;
   }
   
   body.article section article ol{
   	margin: 0 0 15px 25px;
   }
   
   body.article section article footer{
   	border-bottom: 1px solid #ccc;
   	border-top: 1px solid #ccc;
   	margin-top: 50px;
   }
   
   body.article section article footer .categories{
   	padding: 10px 0;
   }
   
   body.article section article footer .post-nav{
   	padding: 10px 0;
   	text-align: right;
   }
   
   body.article section article footer .post-nav a{
   	color: #555;
   }
   
   body.article section article footer .post-nav a:hover{
   	background: #333;
   	color: #fff;
   	text-decoration: none;
   }
   
   body.article section article footer .post-nav ul{
   	list-style: none;
   	margin: 0;
   	padding: 0;
   }
   
   body.article section article footer .post-nav ul li{
   	display: inline;
   }
   
   body.article section article footer .post-nav .prev-post a{
   	padding: 10px 15px;
   }
   
   body.article section article footer .post-nav .next-post a{
   	padding: 10px 15px;
   }
   
   body.article section article footer .post-nav .exists-previous a{
   	border-left: 1px solid #eee;
   }
   
/* -----------------------------------------
   :: Work Page
   ----------------------------------------- */
   
   body.work .heading-trick{
    margin-bottom: 30px;
	margin-top: 34px;
   }   
   
   body.work .heading h1{
   	margin-bottom: 10px; 
   }
   
   body.work .heading h1, 
   body.work .heading h2{
   	text-transform: uppercase;
   }
   
   body.work .heading h2{
   	font-size: 17px;
   	font-style:normal;
   	font-weight:normal;
   }
   
   body.work .project-item{
   	margin-bottom: 2.5em;
   }
   
   body.work .project-item .project-info{
   	border-top: 1px solid #333;
   	margin-top: 5px;
   	padding-top: 30px;
   }
   
   body.work .project-item .project-info h2.project-name{
   	text-transform: uppercase;
   	margin: 0 0 20px;
   }
   
   body.work .project-item .project-info h2{
   	 margin: 20px 0;
   }
   
   body.work .project-item .project-info h3,
   body.work .project-item .project-info h4{
   	margin: 15px 0;
   }
   
   body.work .project-item .project-info pre{
   	margin: 0 0 25px;
   }
   
   body.work .project-item .project-info blockquote{
   	margin: 20px 0;
   }
   
   body.work .project-item .project-info ol{
   	margin: 0 0 15px 25px;
   }
   
   body.work .project-item .project-media figure{
   	margin: 20px 0;
   }
   
   body.work .project-item .project-media img{
   	border: 1px solid #DDD;
   	height: auto !important;
   	max-width: 100%;
   	padding: 5px;
   }
   
/* -----------------------------------------
   :: About Page
   ----------------------------------------- */
   
   body.about .heading-trick{
    margin-bottom: 30px;
	margin-top: 34px;
   }   
   
   body.about .heading h1{
   	margin-bottom: 10px; 
   }
   
   body.about .heading h1, 
   body.about .heading h2{
   	text-transform: uppercase;
   }
   
   body.about .heading h2{
   	font-size: 17px;
   	font-style:normal;
   	font-weight:normal;
   }
   
   body.about #content h2{
   	margin: 30px 0 20px;
   }
   
   body.about #content h3,
   body.about #content h4{
   	margin: 15px 0;
   }
   
   body.about #content pre{
   	margin: 0 0 25px;
   }
   
   body.about #content blockquote{
   	margin: 20px 0;
   }
   
   body.about #content figure{
   	margin: 20px 0;
   }
   
   body.about #content img{
   	border: 1px solid #DDD;
   	height: auto !important;
   	max-width: 100%;
   	padding: 5px;
   }
   
   body.about #content ol{
   	margin: 0 0 15px 25px;
   }
   
   body.about #footer{
   	margin-top: 5.4em;
   	margin-bottom: 2em;
   }
   
   body.about #footer .social-media ul#social{
   	float: right;
   }
   
/* -----------------------------------------
   :: Contact Page
   ----------------------------------------- */
   
   body.contact section article h1{
   	margin-bottom: 10px;
   	text-transform: uppercase;
   }
   
   body.contact section article p.available{
	background: url(../../img/icon_check_green.png) no-repeat 0 50%;   	
   }
   
   body.contact section article p.available,
   body.contact section article p.unavailable{
   	display: inline;
   	font-size: 15px;
   	padding: 0 0 0 26px;
   	text-transform: uppercase;
   	word-spacing: 2px;
   }
   
   body.contact section article p.unavailable{
   	background: url(../../img/icon_cross_red.png) no-repeat 0 0;
   }
   
   body.contact section article form{
   	margin-top: 30px;
   }
   
   body.contact #sidebar{
   	margin-top: 45px;
   	padding: 0;
   }
   
   body.contact #sidebar h3{
   	margin-bottom: 10px;
   	text-transform: uppercase;
   }
   
   body.contact #sidebar .say-hello .email{
   	background: url("../../img/icon-email.png") no-repeat 0 2px;
   	font-style: italic;
   	padding-left: 24px;
   }
   
   body.contact #sidebar .say-hello .email a,
   body.contact #sidebar .say-hello .skype a{
   	color: #555;
   	text-decoration: none;
   }
   
   body.contact #sidebar .say-hello .email a:hover,
   body.contact #sidebar .say-hello .skype a:hover{
   	color: #333;
   	text-decoration: none;
   }
   
   body.contact #sidebar .say-hello .phone{
   	background: url("../../img/icon-phone.png") no-repeat 0 2px;
   	padding-left: 24px;
   }
   
   body.contact #sidebar .say-hello .skype{
   	background: url("../../img/icon-skype.png") no-repeat 0 2px;
   	font-style: italic;
   	padding-left: 24px;
   }
   
   body.contact #footer{
   	margin-top: 5.4em;
   	margin-bottom: 2em;
   }
   
   body.contact #footer .social-media ul#social{
   	float: right;
   }

/* -----------------------------------------
   :: Error Page
   ----------------------------------------- */
   
   body.error_page #content article header{
   	margin-bottom: 2.5em;
   }

   body.error_page #content article header h1{
   	margin-bottom: 10px;
   	text-transform: uppercase;
   }
   
   body.error_page #content article header h2{
   	font-size: 17px;
   	font-style: normal;
   	font-weight: normal;
   	text-transform: uppercase;
   }
   
   body.error_page #content article figure{
   	margin: 20px 0;
   }
   
   body.error_page #content article img{
   	height: auto !important;
   	max-width: 100%;
   }

/* -----------------------------------------
   :: Media Queries
   ----------------------------------------- */
   
   @media only screen and (min-width: 980px) {
   
    /* Work Page */
   
   	body.work .heading h2{ width: 80%; }
   	
   	/* About Page */
   	
   	body.about .heading h2{ width: 80%; }
   	
   	body.about #content{
   		column-count: 2; 
   		-moz-column-count: 2; 
   		-o-column-count: 2; 
   		-webkit-column-count: 2;
   		/* gap */
   		column-gap: 30px; 
   		-moz-column-gap: 30px; 
   		-o-column-gap: 30px; 
   		-webkit-column-gap: 30px;
    }
   
   }
   
   
   /* -----------------------------------------------------------
      Tablet Portrait size to standard 960 (devices and browsers) */
      
   @media only screen and (min-width: 768px) and (max-width: 979px) {
   	
   	header#header .logo img{ width: 77px; }
   	
   	/* Work Page */
   	
   	body.work .heading h2{
   		font-size: 16px;
   		width: 90%;
   	}
   	
   	/* About Page */
   	
   	body.about .heading h2{
   	    font-size: 16px;
   		width: 90%;
   	}
   	
   	body.about #content{
   		column-count: 2; 
   		-moz-column-count: 2; 
   		-o-column-count: 2; 
   		-webkit-column-count: 2;
   		/* gap */
   		column-gap: 30px; 
   		-moz-column-gap: 30px; 
   		-o-column-gap: 30px; 
   		-webkit-column-gap: 30px;
    }
    
    /* Error page */
   	
    body.error_page #content article header h2{
   		font-size: 16px;
    }
   	
   }
   
   /* ---------------------------------------------------------------
      Mobile Landscape Size to Tablet Portrait (devices and browsers) */
      
   @media only screen and (min-width: 480px) and (max-width: 767px) {
   	
   	div#navTop{ 
   		margin-left: -20px;
   		margin-right: -20px;
   	}
   	div#navTop .row{ display: block; }
   	div#navTop select{
	   	width: 40%;
    }
   	header#header .logo{ text-align: center; }
   	header#header .logo img{ width: 66px; }
   	header#header nav{ display: none !important; }
   	#sidebar{
   		background: #F7F7F7;
   		margin: 3em -20px 0 -20px;
   		padding: 10px 20px;
   	}
   	#main{ margin-top: 25px; }
   	footer#footer{ margin-top: 2em !important; }
   	footer#footer .content-footer{
   		border-top: 0;
   		padding-top: 0;
   	}
   	
   	/* Article Page */
       
    body.article section article footer{
    	margin: 50px -20px 50px;
    }
   	
   	body.article section article footer .categories{
   		border-bottom: 1px solid #eee;
   		padding: 10px 20px;
   	}
   	
   	body.article section article footer .post-nav{
   		padding: 10px 20px;
		text-align: left;
   	}
   	
   	body.article section article footer .post-nav a{
   		color: #555;
   	}
   	
   	body.article section article footer .post-nav a:hover{
   		background: transparent;
   		color: #333;
   		text-decoration: none;
   	}
   	
   	body.article section article footer .post-nav .prev-post a{
   		padding: 0 20px 0 0;
   	}
   	
   	body.article section article footer .post-nav .next-post a{
   		padding-bottom: 10px;
   		padding-left: 0;
   		padding-top: 10px;
   		padding-right: 0;
   	}
   	
   	body.article section article footer .post-nav .exists-previous a{
   		padding: 10px 20px;
   	}
   	
   	/* Work Page */
   	
   	body.work .heading-trick{
		margin-top: 25px;
    }  
   	
   	body.work .heading h1, body.work .heading h2{
   		text-align: center;
   	}
   	
   	body.work .heading h2{
   		font-size: 15px;
   	}
   	
    body.work .project-item .project-info{
   		border-bottom: 1px solid #333;
   		border-top: 0;
   		margin-top: 0;
   		padding-top: 10px;
    }
    
    body.work .last .project-info{
    	border-bottom: 0;
    }
    
   	/* About Page */
   	
   	body.about .heading-trick{
		margin-top: 25px;
    }  
   	
   	body.about .heading h1, body.about .heading h2{
   		text-align: center;
   	}
   	
   	body.about .heading h2{
   		font-size: 15px;
   	}
   	
   	/* Contact Page */
   	
   	body.contact section article header{
   		text-align: center;
   	}
   	
    body.contact #sidebar{
   		background: transparent;
   		margin: 2em 0 0;
   		padding: 0;
   	}
   	
   	/* Error page */
   	
   	body.error_page #content article header h1{
   		text-align: center;
    }
   
    body.error_page #content article header h2{
   		font-size: 15px;
   		text-align: center;
    }
   	
   }
   
   /* -------------------------------------------------------------------- 
      Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
   
   @media only screen and (max-width: 479px) {
   	
   	div#navTop{ 
   		margin-left: -20px;
   		margin-right: -20px;
   	}
   	div#navTop .row{ display: block; }
   	header#header .logo{ text-align: center; }
   	header#header .logo img{ width: 66px; }
   	header#header nav{ display: none !important; }
   	#sidebar{
   		background: #F7F7F7;
   		margin: 3em -20px 0 -20px;
   		padding: 10px 20px;
   	}
   	#main{ margin-top: 25px; }
   	footer#footer{ margin-top: 2em !important; }
   	footer#footer .content-footer{
   		border-top: 0;
   		padding-top: 0;
   	}
   	
   	/* Article Page */
       
    body.article section article footer{
    	margin: 50px -20px 50px;
    }
   	
   	body.article section article footer .categories{
   		border-bottom: 1px solid #eee;
   		padding: 10px 20px;
   	}
   	
   	body.article section article footer .post-nav{
   		padding: 10px 20px;
		text-align: left;
   	}
   	
   	body.article section article footer .post-nav a{
   		color: #555;
   	}
   	
   	body.article section article footer .post-nav a:hover{
   		background: transparent;
   		color: #333;
   		text-decoration: none;
   	}
   	
   	body.article section article footer .post-nav .prev-post a{
   		padding: 0 20px 0 0;
   	}
   	
   	body.article section article footer .post-nav .next-post a{
   		padding-bottom: 10px;
   		padding-left: 0;
   		padding-top: 10px;
   		padding-right: 0;
   	}
   	
   	body.article section article footer .post-nav .exists-previous a{
   		padding: 10px 20px;
   	}
   	
   	/* Work Page */
   	
   	body.work .heading-trick{
		margin-top: 25px;
    }   
   	
   	body.work .heading h1, body.work .heading h2{
   		text-align: center;
   	}
   	
   	body.work .heading h2{
   		font-size: 14px;
   	}
   	
   	body.work .project-item .project-info{
   		border-bottom: 1px solid #333;
   		border-top: 0;
   		margin-top: 0;
   		padding-top: 10px;
    }
    
    body.work .last .project-info{
    	border-bottom: 0;
    }
    
   	/* About Page */
   	
   	body.about .heading-trick{
		margin-top: 25px;
    }   
   	
   	body.about .heading h1, body.about .heading h2{
   		text-align: center;
   	}
   	
   	body.about .heading h2{
   		font-size: 14px;
   	}
   	
   	/* Contact Page */
   	
   	body.contact section article h1{
   		margin-bottom: 0 !important;
   		text-align: center;
   	}
   	
   	body.contact section article p.available,
    body.contact section article p.unavailable{
    	display: none;
    }
    
    body.contact #sidebar{
   		background: transparent;
   		margin: 2em 0 0;
   		padding: 0;
   	}
   	
   	/* Error page */
   	
   	body.error_page #content article header h1{
   		text-align: center;
    }
   
    body.error_page #content article header h2{
   		font-size: 14px;
   		text-align: center;
    } 
    
   }

/* -----------------------------------------
   :: Selections
   ----------------------------------------- */
   
   /* Taked from: http://viljamis.com */
   
   ::-moz-selection {
	background: rgb(80,80,80);
	color: rgb(241, 241, 241);
	text-shadow: none;
   }

   ::selection {
	background: rgb(80,80,80);
	color: rgb(241, 241, 241);
	text-shadow: none;
   }

   img::selection {
	background: transparent;
   }

   img::-moz-selection {
	background: transparent;
   }          