/* -------------------------------------------------- 
    Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Log in
:: Page Index
:: Page Media list
:: Page Categories list
:: Page Posts list and Projects list
:: Media queries
*/

/* -----------------------------------------
   :: Shared Styles
   ----------------------------------------- */

	.navbar-fixed-top .brand{
		color: #000;
		font-weight: bold;
		text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
	}
	
	.nav-list .divider{
		height: 1px;
		margin: 8px 1px;
		overflow: hidden;
		background-color: #E5E5E5;
		border-bottom: 1px solid white;
	}
	
	.auto-height{
		height: auto !important;
	}

	footer#footer div{
		border-top: 1px solid #e5e5e5;
		margin-top: 45px;
		padding: 35px 0 36px;
	}

	img.center{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	span.text-search{
		color: #999 !important;
	}

	/* Table */

	th.col_active a span.icon_on{
		display: inline;
	} th.col_active a span.icon_off{
		display: none;
	}

	th.col_active a:hover span.icon_on{
		display: none;
	} th.col_active a:hover span.icon_off{
		display: inline;
	}

	th.col_inactive a{
		font-weight: normal;
	}

	th.col_inactive a span.icon_off{
		display: none;
	} th.col_inactive a:hover span.icon_off{
		display:inline;
	}

/* -----------------------------------------
   :: Page Index
   ----------------------------------------- */
   
   ul#dashboard li h3{
   		text-align: center;
   }
   
   ul#dashboard li a:hover .thumbnail{
   		border-color: #08c;
   }
   
   ul#dashboard li a:hover{
   		text-decoration: none;
   }
   
/* -----------------------------------------
   :: Page Log in
   ----------------------------------------- */

	body.login{
		padding-top: 0px;
	}

	body.login h1.title_login{
		padding-bottom: 10px;
	}

/* -----------------------------------------
   :: Page Media list
   ----------------------------------------- */
   
   body.media .thumbnails img{
   	height: auto !important;
   	max-width: 100%;
   }

	table#media-list thead th.checkbox, table#media-list tbody td.checkbox{
		padding: 8px 12px;
		width: 13px;		
	}

	table#media-list thead th.checkbox input, table#media-list tbody td.checkbox input{
		margin-left: 0 !important;
	}

	table#media-list thead th.image, table#media-list tbody td.image{
		width: 80px;
	}

	table#media-list thead th.file, 
	table#media-list tbody td.file{
		border-left: 0px;
	}

	table#media-list thead th.date{
		width: 140px;
	}

/* -----------------------------------------
   :: Page Categories list
   ----------------------------------------- */
   	table#categories-list thead th.checkbox, table#categories-list tbody td.checkbox{
   		padding: 8px 12px;
   		width: 13px;   		
	}

	table#categories-list thead th.checkbox input, table#categories-list tbody td.checkbox input{
		margin-left: 0 !important;
	}

	table#categories-list thead th.name, table#categories-list tbody td.name{
		width: 586px;
	}
	
	table#categories-list thead th.type_category, table#categories-list tbody td.type_category{
		width: 140px;
	}

/* -----------------------------------------
   :: Page Posts list and Projects list
   ----------------------------------------- */

	table#posts-list thead th.checkbox, table#posts-list tbody td.checkbox,
	table#projects-list thead th.checkbox, table#projects-list tbody td.checkbox{
   		padding: 8px 12px;
   		width: 13px;   		
	}

	table#posts-list thead th.checkbox input, table#posts-list tbody td.checkbox input,
	table#projects-list thead th.checkbox input, table#projects-list tbody td.checkbox input{
		margin-left: 0 !important;
	}
	
	table#posts-list thead th.title, table#posts-list tbody td.title,
	table#projects-list thead th.name, table#projects-list tbody td.name{
		width: 610px;
	}
	
	table#posts-list thead th.date, table#posts-list tbody td.date,
	table#projects-list thead th.created_at, table#projects-list tbody td.created_at{
		width: 160px;
	}
	
	table#posts-list thead th.categories, table#posts-list tbody td.categories,
	table#projects-list thead th.categories, table#projects-list tbody td.categories{
		width: 310px;
	}

/* -----------------------------------------
   :: Media queries
   ----------------------------------------- */
   
	@media (max-width: 319px) {
		table#media-list thead th.image, table#media-list tbody td.image{
			display: none;
		}
	}

	@media (max-width: 479px) {
		table#categories-list thead th.slug, table#categories-list tbody td.slug,
		table#posts-list thead th.categories, table#posts-list tbody td.categories,
		table#projects-list thead th.categories, table#projects-list tbody td.categories{
			display: none;
		}
	}

	@media (min-width: 1024px) {
		body.login h1.title_login{
			padding-top: 18px;
		}
	}